<section class="flex flex-col items-center gap-1">
  <%= image_tag "chat.png", width: 100 %>
  <h1 class="font-bold text-4xl text-white my-4">Chat App - Ruby on Rails</h1>
  <p class="text-center font-semibold text-white">This is the chat app with RoR</p>
</section>
