<%= turbo_frame_tag "rooms_controller" do %>
  <main class="flex w-full h-screen bg-[#181D31]">
    <%= render "shared/side_bar" %>

    <section class="w-full flex flex-col items-center justify-center gap-5 h-screen">
      <%= render "shared/brand_section" %>
    </section>
  </main>
<% end %>
